<%- include('partials/header') %> 
<%- include('partials/navbar',{section:section}) %>
<div class="container py-3">
    
    <h2>Change Password</h2>
    <hr>
    <%- include('partials/alert') %>
    <form action="/account/changepassword" method="post">
    <div class="form-group">
      <label for="curr_password">Current Password</label>
      <input type="password" name="curr_password" id="curr_password" class="form-control" placeholder="Enter current password">
    </div>
    <div class="form-group">
      <label for="curr_password">New Password</label>
      <input type="password" name="new_password" id="new_password" class="form-control" placeholder="Enter new password">
    </div>
    <div class="form-group">
      <label for="curr_password">Confirm new Password</label>
      <input type="password" name="conf_new_password" id="conf_new_password" class="form-control" placeholder="Confirm new password">
    </div>
    <button type="submit" name="change_pass_btn" id="change_pass_btn" class="btn btn-primary" btn-lg btn-block">Change Password</button>
    </form>
</div>


<%- include('partials/footer') %>