body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

.login-form-container{
    min-height: 100vh;
    background: #fdfdfd;
}

.login-form{
    min-width: 360px;
    background: white;
}

.main-container{
    min-height: 100vh;
}

.tab-pane{
    padding : 20px 10px
}

@media screen and (min-width : 400px){
    .tab-pane{
        padding : 20px 40px
    }
}
@media screen and (max-width : 400px){
    .login-form{
        min-width : 300px
    }

    #settingTabs{
        flex-direction: column;
    }
}